body{
    margin: 0vh;
    background-color: white;
    background-image: url(pizzapics/bg.jpg);
}



h2{
    font-size: 20px;
    color: orangered;
}
button{
    width: 10 vw;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 9, 9);
    padding: 7px px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: orangered;
}
::-webkit-scrollbar{
    display: none;
}

.nav{
	box-shadow:red;

	
}
.navbar .navbar-brand{
    color:red;
    

}
.navbar .container-fluid .navbar-header .navbar-toggle .icon-bar{
	color:yellow;
	
}
.navbar{
	box-shadow: 0 0 10px red;
	z-index: 999;
}
.Navbar-header{
	 color: yellow;
}
img:hover{
    transform: scale(1.5);
}

input{
	border: 0;
	border-radius: 8px;
	padding: 8px;
	max-width: 40%;
	color:white;
	background-color: #353434;
	margin-right: 10px;
	position: relative;top:5px;
}
input::placeholder{
    color:yellow;
}



h1{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px auto;
}
        .menu-item {
            border: 1px solid #ccc;
            text-align: center;
            padding: 10px;
            margin: 20px;
            margin-left: 10px;
            margin-right: 5px;
            display: inline-block;
            color: white;
            box-shadow: 0 0 10px red;
            max-width: 250px;
            max-height: 500px;
            
        }

        .cart-item {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            color: white;
            background-color: red; opacity: 0.8;
            list-style: none;
        }

        .cart-item img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }

        #cart-container {
            display: none;
        }
        
        .menu-item img{
            height: 200px;
            width: 200px;
        }

        .header{
            height: 200px;
            max-width: 100vw;
            background-image: url("pizzapics/headbg.jpg");
            background-position: center;
            margin-bottom: 50px;
            margin-top: -20px;
            align-items: center;

          
        }

        .Pizza-sizes{
            list-style: none;
            text-align: center;
            color:white;
           
        }
        .Pizza-sizes li{
            max-width: 400px;
            margin: 10px;
            display: inline-block;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
            position: relative;top: 10px;
          
        }

        .Pizza-sizes a{
            color: white;
            background-color: red;
            border-radius: 10px;
        }